.contact {
    background-color: $black;
    color: $white;

    &__title {
      @include title;
      padding: 10rem 2rem 10rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 170px;
        width: 100%;
    }

    &__input, &__message {
        outline: none;
        border: none;
        background-color: $green;
        width: 726px;


        padding-left: 26px;
        color: $white;
        font-size: 2rem;
        margin: 0 20px 48px;

        &::placeholder {
            color: #e5e5e5;
            opacity: .5;
            font-size: 2rem;
        }

        &:focus {
            background-color: #14565e;
        }
    }

    &__input {
        height: 82px;

    }

    &__message {
        min-height: 222px;
        padding-top: 29px;
        margin-bottom: 10px;
    }

    &__info {
        font-size: 1.2rem;
        max-width: 726px;;
    }

    &__btn {
        color: $black;
        background-color: $yellow;
        outline: none;
        border: none;
        width: 263px;
        height: 78px;
        font-size: 2.5rem;
        font-weight: $medium;
        margin-top: 48px;
        transition: background-color 1.5s ease;

        &:hover {
            background-color: $white;
        }
    }
}

@include tablet {
    .contact {
        &__input, &__message {
            width: 550px;
    }
        &__info {
            max-width: 550px;
            // margin: 0 20px;
        }
}

}

@include mobile {
    .contact {
        &__input, &__message {
            width: 310px;
    }

    &__info {
        max-width: 310px;
        // margin: 0 20px;
    }

}

}