.header {
  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
  }
  &__heading {
    position: absolute;
    right: 13.4rem;
    bottom: 14.3rem;
    z-index: 33;
    padding: 4.7rem 9.4rem 5.4rem 9.4rem;
    background-color: rgba(229, 229, 229, 0.58);
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__supertitle {
    font-weight: $medium;
    font-size: 31.25px;
  }

  &__title {
    font-family: $decorFont;
    font-size: 61.04px;
    font-weight: $bold;
    text-transform: uppercase;
    font-style: normal;
    max-width: 323px;
    line-height: 55px;
    letter-spacing: -2px;
  }

  &__img {
    width: 100%;
    height: calc(100vh - 15.3rem);
    object-fit: cover;
  }

  &__indicator {
    width: 5rem;
    height: 5rem;
    background-color: $red;
    border-radius: 50%;
  }
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 2rem; /* change width */
  height: 2rem; /* change height */
  padding: 0;
  margin-right: 5px;
  margin-left: 5px;
  text-indent: -999px;
  cursor: pointer;
  background-color: $red;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: opacity 0.6s ease;
  border-radius: 50%; // /* add border-radius */
}

@include tablet {
  .header {
    &__heading {
      bottom: 15rem;
      left: 0;
      right: 0;
      padding-left: 10%;
    }
  }
}

@include mobile {
  .header {
    &__heading {
      bottom: 10rem;
    }
    &__title {
      font-size: 48.83px;
      line-height: 0.8;
    }
    &__supertitle {
      font-size: 25px;
    }
  }
}
