.nav {
  background-color: $green;
  height: 10.3rem;
  line-height: 10.3rem;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10.3rem;
    position: relative;
  }

  &__toggler {
    background-color: transparent;
    border: none;
    outline: none;

    &:focus {
      outline: none;
    }

    span {
      font-size: 3rem;
      color: $white;
    }
  }

  &__toggler {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;

    &--dropdown {
      background-color: $green;
      display: none;
      position: absolute;
      top: 10rem;
      right: -3rem;
      width: 15rem;
      z-index: 9999;
    }
  }

  &__item {
    margin-left: 4rem;
    color: $white;
    font-size: 1.7rem;
    font-weight: $medium;

    &--drop {
      position: relative;

    }

    &:first-of-type {
      margin-left: 0;
    }
  }

  &__link {

    &:hover {
      color: $yellow;
    }

    &--drop {
      display: block;

      &:hover {
        color: $yellow;

        .nav__arrow {
          color: $yellow;
        }
      }
    }

    &--dropdown {
      display: block;
      margin-left: 2rem;
      text-align: left;
      height: 8rem;
      line-height: 8rem;


      &:hover {
        color: $yellow;
      }
    }
  }

  &__arrow {
    color: $white;
    font-size: 2rem;
    margin-left: 1rem;
  }
}

.nav__item--drop:hover {
  .nav__list--dropdown {

    display: block;
  }
}

@include tablet {
  .nav {
    &__list {
      display: none;
    }

    &__toggler {
      display: block;
    }
  }
}
