.blog {
    background-color: $green;

    &__title {
        @include title;
        padding: 10rem 2rem 10rem;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, minmax(370px));
        grid-template-rows: repeat(3, minmax(160px));
        row-gap: 69px;
        column-gap: 49px;
        padding-bottom: 15.4rem;
    }

    &__note {
        background-color: $black;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 14px 24px;

    }

    &__tag {
        display: inline-block;
        background-color: $green;
        font-size: 2rem;
        font-family: $decorFont;
        width: 115px;
        height: 33px;
        text-align: center;
        align-self: flex-end;
    }

    &__header{
        font-size: 2.5rem;
        font-weight: $medium;
        padding-left: 6px;
        padding-top: 15px;
    }

    &__link {
        font-size: 2rem;
        align-self: flex-end;
    }

    &__note--1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        & .blog__header {
            width: 324px;
        }
    }
    &__note--2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: $yellow;
        color: $black;

        & .blog__tag {
            background-color: $black;
            color: $white;
        }
    }
    &__note--3 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        background-image: url("../assets/blog/blog3.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 462px;

        & .blog__header {
            font-size: 3.9rem;
            width: 420px;
            margin-top: auto;
        }

        & .blog__tag {
            background-color: $yellow;
            color: $black;
        }
    }
    &__note--4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        background-image: url("../assets/blog/blog4.png");
        background-position: top left;
        background-repeat: no-repeat;

        & .blog__header {
            font-size: 3.9rem;
            width: 400px;
            margin-left: auto;
            margin-top: auto;
        }

        & .blog__tag {
            background-color: $red;
            color: $white;
        }
    }
    &__note--5 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        background-image: url("../assets/blog/blog5.png");
        background-position: top left;
        background-repeat: no-repeat;
        height: 160px;

        & .blog__tag {
            background-color: $red;
            color: $white;
        }

        & .blog__header {
            font-size: 2.3rem;
            width: 202px;
            margin-left: 220px;
        }
    }
}

@include desktop {
    .blog {
        &__container {
            grid-template-columns: repeat(2, 1fr);
            grid-template-columns: repeat(3, 1fr);
        }
    }
}