// title of section

@mixin title {
  font-family: $mainFont;
  font-weight: $medium;
  font-size: 31.25px;
  color: $white;
  text-align: center;
}

@mixin laptop {
  @media (max-width: #{$laptopWidth}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tabletWidth}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobileWidth}) {
    @content;
  }
}

@mixin flex_centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolutly_centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
