.testimonials {
  background-color: $black;
  color: $white;

  &__title {
    @include title;
    padding: 10rem 2rem 10rem;
  }

  &__container {
    padding-bottom: 100px;
  }

  &__img {
    border-radius: 50%;
    display: inline-block;
    width: 200px;
  }

  &__name {
    font-size: 2rem;
    font-weight: $regular;
    margin: 51px 0 10px;
  }

  &__company {
    font-size: 2.5rem;
    font-weight: $bold;
    font-family: $decorFont;
  }

  &__quote {
    font-size: 2rem;
    font-style: italic;
    max-width: 525px;
    text-align: center;
    margin: 42px 0 158px;


  }

  &__box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 600px;
  }

  &__person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    animation: fade 1.5s both;

  }

  &__dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5rem;
  }

  &__dot {
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 50px 5px 0 5px;
  text-indent: -999px;
  cursor: pointer;
  opacity: .5;
  background-color: $red;
  // background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: opacity 0.6s ease;
  border-radius: 50%;

  &.indicated {
    opacity: 1;
  }
  }

  &__arrow {
    align-self: center;
    font-size: 3rem;
    cursor: pointer;
    padding: 0 10px;
    background-color: transparent;
    outline: none;
    border: none;
    color: $white;

    &:hover {
      color: $yellow;
    }
  }

  &__arrow--left,   &__arrow--right {
    margin: 0 38px;
  }


}

@include mobile {
  .testimonials {
    &__img {

      width: 150px;
    }

    &__quote {
      font-size: 1.6rem;
    }

    &__arrow--left,   &__arrow--right {
      margin: 0 10px 0 25px;
    }
  }
}


@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

