// colors

$green: #177e89;
$black: #323031;
$white: #e5e5e5;
$yellow: #ffc857;
$red: #db3a34;

// fonts

$mainFont: "Commissioner", sans-serif;
$decorFont: "Fraunces", serif;

// weight

$regular: 400;
$medium: 500;
$bold: 700;

// media queries

$desktopWidth: 1439px;
$desktopHeight: 900px;

$laptopWidth: 1024px;

$tabletWidth: 768px;
$tabletHeight: 1024px;

$mobileWidth: 584px;
$mobileHeight: 667px;
